.base
{
    padding:10px 0 0 0;
}
.item
{
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 20px;
    display: inline-block;
    cursor: pointer;
}
.item img
{
    width:52px;
}
.item span
{
    margin-top:10px;
}
.item:hover
{
    background:#dfe4ff;
}
.item:active
{
    background:#b8c3ff;
}
.info
{
    font-size: 14px;
    color:gray;
    margin:1px 0 10px 0;
}
