<div class="base">
        <div class="searchDiv">
<input [(ngModel)]="searchText" class="searchInput" placeholder="Search...">
<mat-icon>search</mat-icon>
</div>
<span class="info" fxLayout="row" fxLayoutAlign="start center">Search the account type or choose the default one.</span>
<div fxLayout="row" fxLayoutAlign="center center"><mat-spinner color="primary" *ngIf="!isLoadingDone"></mat-spinner></div>
<div *ngIf="isLoadingDone">    
<div (click)="create(item)" *ngFor="let item of passwordFormats| searchPipe : searchText" class="item mat-elevation-z1">
        <div fxLayout="row" fxLayoutAlign="center center"><img [src]="item.image"></div>
        <div fxLayout="row" fxLayoutAlign="center center"><span innerHTML="{{item.type | highlight: searchText}}"></span></div>
    </div>
</div>
</div>