<div class="base">
        <div  fxLayout="row" fxLayoutAlign="space-between center">
            <button class="sortByButton" mat-stroked-button color="primary" (click)="openBottomSheet()">Sort By</button>
            <div class="leftDiv"fxLayout="row" fxLayoutAlign="start center">
                <span class="sortBy">Sort By</span>
                <div>
                <mat-form-field class="sortFF">
                    <mat-select [(ngModel)]="sortByField">
                        <mat-option value="username">Username</mat-option>
                        <mat-option value="type">Account Type</mat-option>
                        <mat-option value="title">Title</mat-option>
                        <mat-option value="createdOn">Created On</mat-option>
                        <mat-option value="lastModifiedOn">Last Modified On</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="orderFF">
                    <mat-select [(ngModel)]="order">
                        <mat-option [value]="1">Ascending</mat-option>
                        <mat-option [value]="-1">Descending</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            </div>
            <mat-button-toggle-group [(ngModel)]="viewMode" class="viewMode">
                <mat-button-toggle value="grid">
                    <mat-icon>border_all</mat-icon>
                </mat-button-toggle>
                <mat-button-toggle value="list">
                    <mat-icon>view_headline</mat-icon>
                </mat-button-toggle>

            </mat-button-toggle-group>
        </div>
        <div class="searchDiv">
            <input [(ngModel)]="searchText" class="searchInput" placeholder="Search...">
            
            <mat-icon>search</mat-icon>
        </div>
        <span class="info" fxLayout="row" fxLayoutAlign="start center">Search by username, title or account type.</span>
    <div fxLayout="row" fxLayoutAlign="center center"><mat-spinner color="primary" *ngIf="!isLoadingDone"></mat-spinner></div>
<div *ngIf="isLoadingDone">
    <div *ngIf="viewMode=='list';then list else grid"></div>
    <ng-template #list>
        <div (click)="itemClicked(item)" *ngFor="let item of lister | filter:searchText | sortBy:sortByField:order" class="itemList mat-elevation-z1 myFlexRow"
         >
            <div class="logo"><img [src]="item.image"></div>
           <!--  <div fxFlex=15 fxLayout="column">
                <span class="head">Account Type</span>
                <span class="body" innerHTML="{{item.type|highlight:searchText}}"></span>
            </div> -->
            <div class="title myFlexColumn">
                <span class="head">Title</span>
                <span class="body" innerHTML="{{item.title|highlight:searchText}}"></span>
            </div>
            <div class="username myFlexColumn">
                <span class="head">Username</span>
                <span class="body" innerHTML="{{item.username|highlight:searchText}}"></span>
            </div>
            <div class="createdOn myFlexColumn">
                <span class="head">Created On</span>
                <span class="body">{{item.createdOn| formatDate}}</span>
            </div>
            <div class="lastModifiedOn myFlexColumn">
                <span class="head">Last Modified On</span>
                <span class="body">{{item.lastModifiedOn | formatDate}}</span>
            </div>
        </div>
    </ng-template>
    <ng-template #grid>
        <div (click)="itemClicked(item)" *ngFor="let item of lister| filter2:searchText" class="item mat-elevation-z1">
            <div fxLayout="row" fxLayoutAlign="center center">
                <img [src]="item.image">
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <span innerHTML="{{item.username|hideExtra|highlight:searchText}}"></span>
            </div> 
        </div>
    </ng-template>
</div>
</div>