<div *ngIf="result=='success';then success else failure"></div>
<ng-template #success>
    <div fxLayout="row" fxLayoutAlign="center center">
    <div class="successDiv" fxLayout="column" fxLayoutAlign="center center">
        <h1 class="mat-h2">Email Verification Successful!</h1>
        <span>Your email has been successfully verified. Please <span (click)="signIn()" class="link">Sign In</span> to continue.</span>
    </div>    
</div>
</ng-template>
<ng-template #failure>
        <div fxLayout="row" fxLayoutAlign="center center">
                <div class="failureDiv" fxLayout="column" fxLayoutAlign="center center">
                    <h1 class="mat-h2">Email Verification Failed!</h1>
                    <span>We are not able to verify your email. Your verification link may have been expired. Please <span (click)="signIn()" class="link">Sign In</span> to troubleshoot.</span>
                </div>    
            </div>  
</ng-template>

