<div fxLayout="row" fxLayoutAlign="center center" class="base">
<mat-card class="container mat-elevation-z4">
    <mat-progress-bar [ngClass]="showProgress?'':'hide'" mode="indeterminate"></mat-progress-bar>
  <div class="topDiv">
    <div fxLayout=column fxLayoutAlign="center center" class="logo">
      <img src="/assets/icons/securepass.png" >
    <span>SecurePass</span>
  </div>
  <span class="signIn">Sign In</span>
<div *ngFor="let item of errors">
    <div class="error">{{item}}</div>
  </div> .
<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">

<mat-form-field class="marginTop10">
    <input  type="email" formControlName="email" matInput placeholder="Email" required autocomplete="email">
    <mat-error *ngIf="loginForm.get('email').invalid">
      Email is required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" formControlName="password" matInput placeholder="Password" required autocomplete="current-password">
    <mat-error *ngIf="loginForm.get('password').invalid">
      Password is required
    </mat-error>
  </mat-form-field>
<div fxLayout="row" fxLayoutAlign="space-between center">

    <button mat-raised-button type="submit" color="primary" class="signInButton" [disabled]="loginForm.invalid">Sign In</button>
   <!--  <a href="#" class="forgot">Forgot Password?</a>  -->
   <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
</div>
</form>
<div fxLayout="row" fxLayoutAlign="center center" class="orDiv"><span class="or">OR</span></div>
<button mat-raised-button class="googleButton" (click)="loginGoogle()"><img src="/assets/icons/google.png" class="googleLogo">Sign In with Google</button>
</div>
<div fxLayout=row fxLayoutAlign="center center" class="signDiv">
    <span class="signMessage">Don't have an account? <span class="link" (click)="signUp()">Sign Up</span></span>
      </div>
</mat-card>
</div>